$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// definição de tons de cinza para hover e ações do tipo
$gray-light: #f9f9f9;
$gray: #ddd;
$gray-dark: #333;
$gray-darker: #222;
$gray-darkest: #111;
